<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mb-4">
        <div class="card-header">
          <h3>Recharge</h3>
          <!-- <a (click)="downLoadInv()">Test</a> -->
        </div>
        <div class="card-body">
          <ng-container *ngIf="continueFlag">

            <mat-table #table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="rowNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Sr. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.rowNumber}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="vehicleNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.vehicleNo}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="renewalRemainingDays">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Days Left </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.renewalRemainingDays}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="pay">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Pay </mat-header-cell>
                <mat-cell *matCellDef="let element">


                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [checked]="element.checkBoxStatus"
                      [value]="element.rowNumber" required (change)="checkBox($event, element.vehicleId);">

                    <!-- <mat-checkbox class="example-margin" [checked]="element.checkBoxStatus" [value]="element.rowNumber"
                                  required (change)="checkBox($event, element.vehicleId);"></mat-checkbox>

                                  <mat-label class="form-check-label" for="invalidCheck2"></mat-label> -->
                  </div>

                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div class="text-right">
              <button mat-button type="button" class="float-left btn btn-outline-secondary mr-2 btn-sm"
                (click)="refresh()">Refresh</button>
              <button mat-button type="button" class="btn btn-outline-success ml-2 btn-sm float-end"
                (click)="continue()">Continue</button>
            </div>
          </ng-container>

          <ng-container *ngIf="!continueFlag">
            <form [formGroup]="makePaymentForm" (ngSubmit)="onSubmit()" mouseenter>
              <div class="form-group">
                <mat-label>Owner<span class="text-center text-danger">*</span></mat-label>
                <mat-form-field appearance="fill">
                  <input matInput type="text" placeholder="Owner" formControlName="firstName" readonly>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>Mobile<span class="text-center text-danger">*</span></mat-label>
                <mat-form-field appearance="fill">
                  <input matInput type="text" placeholder="Mobile" formControlName="mobileNo" readonly>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-label>Email<span class="text-center text-danger">*</span></mat-label>
                <mat-form-field appearance="fill">
                  <input matInput type="text" placeholder="Email " formControlName="emailId"
                    [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
                </mat-form-field>
                <mat-error *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                  <div *ngIf="f.emailId.errors.required">Email is required</div>
                  <div *ngIf="f.emailId.errors.email">Please enter valid Email Id</div>
                </mat-error>
              </div>

              <div class="form-group">
                <mat-label>GSTIN</mat-label>
                  <mat-form-field appearance="fill">
                    <input matInput type="text" placeholder="GSTIN" formControlName="gstNo"
                    [ngClass]="{ 'is-invalid': submitted && f.gstNo.errors }">
                  </mat-form-field>
                  <mat-error *ngIf="submitted && f.gstNo.errors" class="invalid-feedback">
                  <div *ngIf="f.gstNo.errors.pattern">Please enter valid GST No.</div>
                </mat-error>
                </div>
    

              <div class="clearfix">
                <div class="float-left">
                  <p>Rate (<i class="fas fa-rupee-sign"></i>) : <strong>
                      {{vechileOwnerInfo.rate}}/vehicle</strong></p>
                </div>
                <div class="float-right">
                  <p>Vehicles : <strong class="mx-2">{{cheArray.length}}</strong> <i class="fas fa-info-circle"></i></p>
                </div>
              </div>
              <table class="table table-sm table-borderless">
                <tr>
                  <td class="text-right">Basic amount (<i class="fas fa-rupee-sign"></i>) :</td>
                  <td class="text-right">{{basicAmount| number : '1.2-2'}}</td>
                </tr>
                <tr>
                  <td class="text-right">GST ({{vechileOwnerInfo.gst}}%) :</td>
                  <td class="text-right">{{GST | number : '1.2-2'}}</td>
                </tr>
                <tr>
                  <td class="text-right">Transaction Cost
                    ({{vechileOwnerInfo.transactionPercentage}}%) :
                  </td>
                  <td class="text-right">{{transactionCost | number : '1.2-2'}}</td>
                </tr>
                <tr>
                  <td class="text-right">Payable amount (<i class="fas fa-rupee-sign"></i>) :</td>
                  <td class="text-right text-danger">{{PayableAmount | number : '1.2-2' }}</td>
                </tr>
              </table>
              <div class="text-right">
                <button mat-button type="button" class="float-left btn btn-outline-secondary mr-2 btn-sm"
                  (click)="back()">Back</button>
                <button mat-button type="submit" class="btn btn-outline-success mr-2 btn-sm float-end">Make
                  Payment</button>

              </div>
            </form>
          </ng-container>


        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form ngNoForm action="https://test.payu.in/_payment" name="payuform" method="POST" target="payment_popup"  onsubmit="window.open('about:blank','payment_popup','width=900,height=500');"> -->
<form ngNoForm action="https://secure.payu.in/_payment" name="payuform" method="POST" target="payment_popup"
  onsubmit="window.open('about:blank','payment_popup','width=900,height=500');">
  <!-- <input type="hidden" name="key" value="WEaXaZfK"/> -->
  <input type="hidden" name="key" value="{{key}}" />
  <input type="hidden" name="txnid" value="{{tranId}}" />
  <input type="hidden" name="productinfo" value="vtsamc" />
  <!-- <input type="hidden" name="amount" value="{{this.PayableAmount}}" /> -->
  <input type="hidden" name="amount" value="1.00" />
  <input type="hidden" name="email" value="{{getData?.emailId}}" />
  <input type="hidden" name="firstname" value="{{getData?.firstName}}" />
  <input type="hidden" name="lastname" value="" />
  <input type="hidden" name="surl" value="http://demo.mahamining.com/ResponseHandlingVTS.aspx" />
  <input type="hidden" name="furl" value="http://demo.mahamining.com/ResponseHandlingVTS.aspx" />
  <input type="hidden" name="phone" value="{{getData?.mobileNo}}" />
  <input type="hidden" name="hash" value="{{hash}}" />
  <button type="submit" class="btn btn-danger" #payuFormSubmit style="display: none;">Submit</button>
</form>

<!-- Modal -->
<button type="button" class="btn btn-primary modal-open" #mdlConfirmOpen data-target="#mdlConfirm" data-toggle="modal"
  style="display: none;">
</button>
<div class="modal fade" id="mdlConfirm" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="mdlConfirmLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdlConfirmLabel">Confirm!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <i class="far fa-check-circle fa-4x text-success"></i>
        <p class="mt-2 mb-0">Do you want to add GST in bill?
          Press OK to add GST, Press Submit to Continue.
        </p>
      </div>
      <div class="text-center mb-3">
        <button type="button" class="btn btn-outline-secondary btn-sm mr-1" style="width: 100px;" data-dismiss="modal"
          aria-label="Close">OK</button>
        <button type="button" class="btn btn-outline-success btn-sm  ml-1" style="width: 100px;" data-dismiss="modal"
          aria-label="Close" data-dismiss="modal" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>