<div id="report-container">
    <div class="row m-0">
      <div class="col-sm-3" id="report-forms">
        <div class="card card-body border-0">
          <div class="mb-3">
            <button type="button" class="btn btn-outline-primary m-1"><i class="bi bi-alarm"></i> <span class="bg-primary text-light p-1 rounded mx-2">29</span> <i class="bi bi-pause-fill"></i></button>
            <button type="button" class="btn btn-outline-primary m-1"><i class="bi bi-arrow-repeat"></i></button>
            <button type="button" class="btn btn-outline-primary m-1"><i class="bi bi-chevron-double-left"></i></button>
          </div>
          <div class="mb-3">
            <label for="ddlVehicleNo" class="form-label">Status</label>
            <select class="form-select" id="ddlVehicleNo">
              <option value="">Enter Title</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Search</label>
            <input type="text" class="form-control" id="" placeholder="Radius (Meter)">
          </div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-4">
                <img class="m-2" src="..." alt="img">
              </div>
              <div class="col-8">
                <div class="card-body p-1">
                  <h5 class="card-title mb-0">MH 12 AB 1234</h5>
                  <p class="card-text mb-0"><small> Amol ( 9874563210 )</small></p>
                </div>
              </div>
            </div>
            <div class="row g-0">
              <div class="col-4">
                <img class="m-2" src="..." alt="img">
              </div>
              <div class="col-8">
                <div class="card-body p-1">
                  <h5 class="card-title mb-0">MH 12 AB 1234</h5>
                  <p class="card-text mb-0"><small> Amol ( 9874563210 )</small></p>
                </div>
              </div>
            </div>
            <div class="row g-0">
              <div class="col-4">
                <img class="m-2" src="..." alt="img">
              </div>
              <div class="col-8">
                <div class="card-body p-1">
                  <h5 class="card-title mb-0">MH 12 AB 1234</h5>
                  <p class="card-text mb-0"><small> Amol ( 9874563210 )</small></p>
                </div>
              </div>
            </div>
            <div class="row g-0">
              <div class="col-4">
                <img class="m-2" src="..." alt="img">
              </div>
              <div class="col-8">
                <div class="card-body p-1">
                  <h5 class="card-title mb-0">MH 12 AB 1234</h5>
                  <p class="card-text mb-0"><small> Amol ( 9874563210 )</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9" id="report-content">
        <div class="row" id="report-header">
          <div class="col-sm-6">
            <h5>Map </h5>
          </div>
         
          <div class="w-100">
            <hr>
          </div>
         
        </div>
  
      </div>
    </div>
  
  </div>
  
