<div class="master-card">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <div class="card shadow border-0" id="cardborder">
        <div class="card-header rounded bg-transparent text-primary fw-bold border-bottom-0 "> Break down details </div>
        <div class="card-body">
          <form [formGroup]="breakDownForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Vehicle <span class="text-center text-danger">*</span></label>
            <div class="col-sm-8">
  
              <ngx-select [items]="vechileList" optionValueField="vehicleNo" 
                placeholder="Search Vehicle" formControlName="vehicleId"
                 [ngClass]="{ 'is-invalid': submitted && f.vehicleId.errors }"></ngx-select>


            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label">eTP Number <span class="text-center text-danger">*</span></label>
            <div class="col-sm-8">
              <mat-form-field appearance="fill">
                <mat-label>eTP Number</mat-label>
                <input matInput type="number" formControlName="invoiceNo" [ngClass]="{ 'is-invalid': submitted && f.invoiceNo.errors }">
                <mat-error *ngIf="submitted && f.invoiceNo.errors">
                  Vehicle Number is required
                </mat-error>
               
              </mat-form-field>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Options:</label>
            <div class="col-sm-8">

                  <mat-radio-group aria-label="Select an option" formControlName="breakDownStatus">
                    <mat-radio-button class="radiobtn" value="Breakdown" >Breakdown</mat-radio-button>
                    <mat-radio-button value="Start">Start</mat-radio-button>
                  </mat-radio-group>

            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-8 offset-sm-4">
                <div>
                  <button type="submit" class="btnmr" mat-stroked-button color="primary">Submit</button>
                  <button type="button" (click)="clearForm()" mat-stroked-button color="accent">Refresh</button>
                </div>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

</div>
