<div id="report-container">
    <div class="row m-0">
      <div class="col-sm-3" id="report-forms">
        <div class="card card-body border-0">
          <div class="mb-3">
            <label for="ddlVehicleNo" class="form-label">Vehicle No.</label>
            <select class="form-select" id="ddlVehicleNo">
              <option value="">Select Vehicle No</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="txtFromDate" class="form-label">From Date</label>
            <input type="datetime-local" class="form-control" id="txtFromDate">
          </div>
          <div class="mb-3">
            <label for="txtToDate" class="form-label">To Date</label>
            <input type="datetime-local" class="form-control" id="txtToDate">
          </div>
          <div class="d-grid gap-2 d-md-block">
            <button type="reset" class="btn btn-primary me-2">Refresh</button>
            <button type="submit" class="btn btn-success">Search</button>
          </div>
        </div>
      </div>
      <div class="col-sm-9" id="report-content">
        <div class="row" id="report-header">
          <div class="col-sm-6">
            <h5>Tracking </h5>
          </div>
         
          <div class="w-100">
            <hr>
          </div>
                  
        </div>
  
      </div>
    </div>
  
  </div>
  