<div id="report-container">
    <div class="row m-0">
      <div class="col-sm-3" id="report-forms">
        <div class="card card-body border-0">
          <div class="mb-3">
            <label for="ddlVehicleNo" class="form-label">Title</label>
            <select class="form-select" id="ddlVehicleNo">
              <option value="">Enter Title</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Radius</label>
            <input type="text" class="form-control" id="" placeholder="Radius (Meter)">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Vehicle</label>
            <textarea class="form-control" placeholder="MH 12 AB 1234" id="" style="height: 100px"></textarea>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Address</label>
            <textarea class="form-control" placeholder="Swargate, Satara Road, Pune, 411037" id=""></textarea>
          </div>
          <div class="d-grid gap-2 d-md-block">
            <button type="reset" class="btn btn-primary me-2">Refresh</button>
            <button type="submit" class="btn btn-success">Search</button>
          </div>
        </div>
      </div>
      <div class="col-sm-9" id="report-content">
        <div class="row" id="report-header">
          <div class="col-sm-6">
            <h5>POI </h5>
          </div>
          <!-- <div class="col-sm-6 text-end">
            <span class="me-3">Current Date</span>
          </div> -->
          <div class="w-100">
            <hr>
          </div>
          <!-- <div class="col-sm-6 report-info">
            Vehicle : <span class="text-primary">MH40BL0827 (Tractor)</span>
          </div>
          <div class="col-sm-6 text-end report-info">
            Date : <span class="text-primary">05/11/2020 01:14 PM to 05/11/2020 02:14 PM</span>
          </div> -->
          
        </div>
  
      </div>
    </div>
  
  </div>
  