@import url("../node_modules/@angular/material/prebuilt-themes/indigo-pink.css");
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa!important;
    font-weight: 300;
}

:root {
    --main-color: #7D7BEE;
    --main-hover-color: #504dee;
    --sidebar-bg-color: #fff;
}

svg {
    width: 100%;
    height: 100%;
}

#landing-animation {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -9999;
}

#topbar {
    margin-top: 10px;
    .white-logo {
        width: 200px;
    }
    .btn-login {
        background-color: var(--main-color);
        color: #fff;
        border-radius: 30px;
        padding: 5px 30px;
        font-size: 0.85rem;
        &:hover {
            background-color: var(--main-hover-color);
        }
    }
    // .dropdown-menu {
    // 	right: 0;
    // 	left: unset;
    // 	margin-top: .125rem;
    // 	background: #FFFFFF;
    // 	box-shadow: 0px 3px 25px #615eca45;
    // 	border-radius: 16px;
    // 	.form-group{
    // 		mat-form-field{
    // 			.mat-form-field-wrapper{
    // 				margin-bottom: 5px;
    // 				.mat-form-field-flex {
    // 					border-radius: 4px 4px 0 0;
    // 					padding: .25em .75em 0 .75em;
    // 					background: #F4F3FF;
    // 					border-radius: 6px;
    // 				}
    // 				.mat-form-field-infix {
    // 					padding: .25em 0 .25em 0;
    // 				}
    // 			}
    // 		}
    // 	}
    // 	h6 {
    // 		text-align: center;
    // 		font-weight: 500;
    // 		margin-top: 20px;
    // 		color: var(--main-color);
    // 		font-size: 1.8rem;
    // 	}
    // 	.btn-generate {
    // 		text-decoration: none;
    // 		font-size: 0.85rem;
    // 		margin: 5px 0;
    // 	}
    // 	.form-control {
    // 		font-size: 0.85rem;
    // 		box-shadow: none;
    // 	}
    // }
    .login_popup {
        position: absolute;
        top: -4px;
        right: -4px;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: 0px 3px 25px #615eca45;
        border-radius: 16px;
        padding: 15px 40px;
        .form-group {
            mat-form-field {
                .mat-form-field-wrapper {
                    margin-bottom: 5px;
                    .mat-form-field-flex {
                        border-radius: 4px 4px 0 0;
                        padding: .25em .75em 0 .75em;
                        background: #F4F3FF;
                        border-radius: 6px;
                    }
                    .mat-form-field-infix {
                        padding: .25em 0 .25em 0;
                    }
                }
            }
        }
        i.fa-times {
            font-weight: 100;
            font-size: 16px;
            position: absolute;
            right: -20px;
            top: 4px;
            color: var(--main-color);
            &:hover {
                color: var(--main-color);
            }
        }
        h6 {
            font-size: 1.8em;
            color: var(--main-color);
            line-height: normal;
        }
        .input-group {
            background: #F4F3FF;
            border-radius: 6px;
            span {
                i {
                    width: 11.50px;
                }
            }
            input {
                font-size: 12px;
                color: #3D3D3D;
            }
        }
        div.generate_pwd {
            button.btn-link {
                // color: #1C3CDF;
                // font-size: 10px;
                text-decoration: none;
            }
        }
    }
}

footer {
    &.fixed-bottom {
        z-index: -1;
    }
    position: relative;
    >img {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    p {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 25px #6c6bcd33;
        border-radius: 15px;
        padding: 7px;
        font-size: 10px;
        margin-top: 5px;
    }
}

#landing-content {
    margin-top: 2rem;
    img {
        width: 90%;
    }
    .landing-heading {
        // position: relative;
        // top: 40%;
        // left: 47%;
        margin-top: 2rem;
        h1 {
            font-weight: 900;
            text-transform: uppercase;
            color: #fff;
            font-size: 5em;
            // margin-bottom: 20px;
            line-height: 1;
        }
        h2 {
            font-weight: bolder;
            text-transform: uppercase;
            color: #fff;
            font-size: 3em;
            letter-spacing: 4px;
        }
    }
}

>p {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}
.app-btn-outer{
    margin-top: -100px;
}
.btn-Apps {
    // background-color: #ececec;
    text-decoration: none;
    width: 7rem;
    margin-right: 5px;
    background: #F5F5FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    &:hover {
        background-color: #eee;
        color: var(--main-color);
    }
    img {
        float: left;
        margin-right: 5px;
        width: 22px;
    }
    .getit {
        margin: 0;
        font-size: 0.6rem;
    }
    .store {
        margin: 0;
        font-size: 0.6rem;
        font-weight: 900;
    }
}

// footer {
// 	text-align: center;
// 	font-size: 0.7rem;
// 	padding: 10px 0px;
// }
// #footer
// {
// 	position: absolute;
//     bottom: 0;
//     text-align: center;
//     padding: 10px;
//     width: 100%;
//     font-size: 0.7rem;
//     border-top: solid 1px #eee;
//     background: #fff;
// }

.bottom-patch {
    position: absolute;
    right: 0;
    bottom: 0;
}


#LoginModal {
    .modal-dialog {
        position: absolute !important;
        right: 120px !important;
        top: 30px;
        width: 350px;
        .modal-content {
            background: #FFFFFF;
            box-shadow: 0px 3px 25px #615eca45;
            border-radius: 16px;
            .form-group {
                mat-form-field {
                    .mat-form-field-wrapper {
                        margin-bottom: 5px;
                        .mat-form-field-flex {
                            border-radius: 4px 4px 0 0;
                            padding: .25em .75em 0 .75em;
                            background: #F4F3FF;
                            border-radius: 6px;
                        }
                        .mat-form-field-infix {
                            padding: .25em 0 .25em 0;
                        }
                    }
                }
            }
            h6 {
                text-align: center;
                font-weight: 500;
                margin-bottom: 20px;
                color: var(--main-color);
                font-size: 18px;
            }
            .btn-generate {
                text-decoration: none;
                font-size: 0.85rem;
                margin: 5px 0;
            }
            .form-control {
                font-size: 0.85rem;
                box-shadow: none;
            }
        }
    }
}

.btn-main {
    background-color: var(--main-color);
    color: #fff;
    &:hover {
        background-color: var(--main-hover-color);
        color: #fff;
    }
}

.mat-form-field {
    width: 100%;
}

.main-content {
    padding: 15px;
}

#dashboard-stats {
    .card {
        border: none;
        border-radius: 20px;
        .dash-count {
            font-weight: 900;
            color: #fff;
            font-size: 2.4rem;
            margin-bottom: 0;
        }
        .dash-unit {
            font-weight: 900;
            color: #fff;
            font-size: 0.85rem;
        }
        .dash-descri {
            font-size: 0.85rem;
            font-weight: 700;
            margin-bottom: 5px;
        }
        .dash-head {
            background-color: rgba(255, 255, 255, 0.4);
            padding: 5px;
            font-weight: 900;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            margin-left: -16px;
            padding-left: 16px;
        }
    }
    .card-orange {
        background: transparent linear-gradient(126deg, #FCD396 0%, #FFB16D 100%) 0% 0% no-repeat padding-box;
    }
    .text-orange {
        color: #FFB16D;
    }
    .card-pink {
        background: transparent linear-gradient(130deg, #FFB9B9 0%, #F96EA6 100%) 0% 0% no-repeat padding-box;
    }
    .text-pink {
        color: #F96EA6;
    }
    .card-cyan {
        background: transparent linear-gradient(136deg, #CBFFFB 0%, #76D3E6 100%) 0% 0% no-repeat padding-box;
    }
    .text-cyan {
        color: #76D3E6;
    }
    .card-blue {
        background: transparent linear-gradient(127deg, #B9B8FF 0%, #7C7CEE 100%) 0% 0% no-repeat padding-box;
    }
    .text-blue {
        color: #7C7CEE;
    }
    .dash-icon {
        position: absolute;
        right: 12px;
        top: -25px;
        width: 70px;
    }
}

#dashboard-charts {
    .card {
        border: none;
        border-radius: 20px;
        .card-header {
            background-color: transparent;
            border-bottom: none;
            font-weight: 800;
            color: var(--main-color);
            padding: 15px 25px;
        }
        .card-body {
            h2 {
                font-weight: 900;
                margin-bottom: 0;
            }
            img {
                width: 24px;
                margin: 10px 0;
            }
            .dash-label {
                background-color: rgba(124, 124, 238, 0.1);
                padding: 5px;
                font-weight: 900;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                margin-left: -16px;
                padding-left: 16px;
                color: #7C7CEE;
            }
            .card-table {
                height: 10rem;
                max-height: 10rem;
                overflow-y: scroll;
                .table {
                    font-size: 0.85rem;
                }
            }
        }
    }
}

#report-container {
    #report-content {
        background-color: #fff;
        padding: 10px;
    }
    #report-header {
        h5 {
            margin-bottom: 0;
            font-weight: 900;
            color: var(--main-color);
            margin-top: 3px;
        }
        .report-info {
            font-size: 0.85rem;
            span {
                font-weight: 900;
            }
        }
    }
    .table {
        margin-top: 10px;
        font-size: 0.8rem;
        thead {
            background-color: #eee;
            vertical-align: middle;
        }
    }
    #report-forms {
        padding-left: 0;
        .form-label {
            font-size: 0.75rem;
            font-weight: 500;
            margin-bottom: 3px;
            color: #777;
        }
        .form-control,
        .form-select,
        .btn {
            box-shadow: none;
            font-size: 0.85rem;
        }
    }
}

.btn-group-vertical a{
    font-size: 16px;
    color: #343a40!important;
}

.btn-group-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group-vertical a{
    text-decoration: none;
}

.filter {
    /* padding: 0 10px; */
    color: #495057;
    border: 1px solid #ced4da;
}

 ::placeholder {
    font-size: 14px;
}

.modal-close-btn {
    text-align: right;
    margin-top: -26px;
    margin-right: -19px !important;
    display: block;
    border-radius: 5px;
    color: #3c4858;
    font-size: 33px;
    line-height: 1.2;
    cursor: pointer;
}

.filter {
    background: #f8f9fc!important;
}

.filter:focus {
    border: 1px solid #ced4da !important;
}

 /* table css start here  */
        
 .mat-cell,
 .mat-footer-cell {
     font-size: 12px;
 }
 
 .mat-form-field {
     width: 100%;
 }
 
 .mat-row:last-child {
     border-bottom: none!important;
 }
 
 mat-table {
     margin-top: 15px;
 }
 
 .mat-header-row {
     min-height: 40px;
 }
 
 .filter {
     background: #f8f9fc!important;
 }
 
 .mat-header-row {
     background: #f8f9fc;
     border-top: solid 1px rgba(0, 0, 0, .12);
 }
 
 .dropdown-menu .list-group-item {
     border-bottom: 1px solid rgba(0, 0, 0, .125);
 }
 
 .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
     border-color: #37597d;
 }
 .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
     background-color: #37597d;
 }
 .dropdown-menu {
     border-radius: 0px;
 }
 /* table css end here  */