<div class="row">
  <div class="col-md-12">
    <h5 class="mb-3 font-weight-bold text-uppercase">Dashboard</h5>
  </div>
</div>
<div class="row" id="dashboard-stats">
  <div class="col-md-3">
    <div class="card mb-4 card-orange">
      <div class="card-body pb-0">
        <div class="media d-flex align-items-start">
          <div class="media-body">
            <h2 class="dash-count">{{resVehiclesCountDashboard?.responseData?.overSpeedVehicles}}</h2>
            <p class="dash-unit">Alerts</p>
            <p class="dash-descri">Speed more than set limit</p>
            <p class="dash-head">Overspeed</p>
          </div>
          <img src="../../assets/images/Overspeed.svg" class="dash-icon">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 card-pink">
      <div class="card-body pb-0">
        <div class="media d-flex align-items-start">
          <div class="media-body">
            <h2 class="dash-count">{{resVehiclesCountDashboard?.responseData?.fuelDropVehicles}}</h2>
            <p class="dash-unit">Alerts</p>
            <p class="dash-descri">Lorem ipsum Lorem ipsum </p>
            <p class="dash-head">Fuel Drop</p>
          </div>
          <img src="../../assets/images/FuelDrop.svg" class="dash-icon">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 card-cyan"  (click)="openDialogBreakdown()">
      <div class="card-body pb-0">
        <div class="media d-flex align-items-start">
          <div class="media-body">
            <h2 class="dash-count">
              <ng-container *ngIf="this.resBreakdownReport!= null;">{{resBreakdownReport?.length}}</ng-container>
              <ng-container *ngIf="this.resBreakdownReport == null">0</ng-container>
            </h2>
            <p class="dash-unit">Vehicles</p>
            <p class="dash-descri">Required additional validity</p>
            <p class="dash-head">Breakdown</p>
          </div>
          <img src="../../assets/images/Breakdown.svg" class="dash-icon">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 card-blue">
      <div class="card-body pb-0">
        <div class="media d-flex align-items-start">
          <div class="media-body">
            <h2 class="dash-count">{{resVehiclesCountDashboard?.responseData?.poiVehicles}}</h2>
            <p class="dash-unit">Alerts</p>
            <p class="dash-descri">In/Out of prohibited Geo-fence</p>
            <p class="dash-head">POl Alert</p>
          </div>
          <img src="../../assets/images/POlAlert.svg" class="dash-icon">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3" id="dashboard-charts">
  <div class="col-md-5">
    <div class="card mb-4">
      <div class="card-header">
        Fleet Status
      </div>
        <div class="card-body" style="height:312px;">
          <div class="row">
              <div class="col-md-8">
                  <p *ngIf="piChartMsg" class="text-danger">No Fleet status</p>
                  <div id="chartdiv" style="height:272px;margin-top:-15px;"></div>

              </div>
              <div class="col-md-4 d-flex align-items-center">
                  <div class="btn-group btn-group-vertical">
                  <a class="lead1 mb-3" *ngIf="runningVehicles != 0" (click)="redirectMap('Running')"><i
                              class="fas mr-2  fa-circle mr-2" style="color:#43a047"></i> Running
                          ({{runningVehicles}})</a>
                  <a class="lead1 mb-3" *ngIf="offlineVehicles != 0" (click)="redirectMap('Offline')"><i
                              class="fas mr-2  fa-circle mr-2" style="color:#fb8c00"></i> Offline
                          ({{offlineVehicles}})</a>
                  <a class="lead1 mb-3" *ngIf="stopVehicles != 0" (click)="redirectMap('Stopped')"><i
                              class="fas mr-2  fa-circle mr-2" style="color:#e53935"></i> Stopped
                          ({{stopVehicles}})</a>
                      </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-body"  (click)="openDialogeTPDetails()">
            <h2 class="text-primary"> {{resInvoiceDetails?.length}}</h2>
            <img src="../../assets/images/E-TPDetails.svg" class="img-fluid">
            <h6>Number of Transport Permit Generated</h6>
            <p class="dash-label">E-TP Details <small>(active/ ongoing)</small></p>
            <div class="card-table">
              <table class="table table-borderless mb-0">
                <thead  class="table-light">
                    <tr>
                        <th scope="col">Sr.</th>
                        <th scope="col">eTP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eTPDetails of resInvoiceDetails; let i = index">
                        <th>{{i+1}}</th>
                        <td>{{eTPDetails?.invoiceNo}}</td>
                    </tr>
                    <tr *ngIf="resInvoiceDetails === null">
                        <td colspan="2" class="text-danger">No eTP Details</td>
                    </tr>
                </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-2 shadow-sm">
          <div class="card-header">
            SIM Renewal Reminder
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-6 border-end text-center">
                <img src="../../assets/images/Due.svg" class="img-fluid">
                <h6>Due</h6>
                <h2 class="text-info">{{resSimDueAndOverDue?.responseData[0]?.due}}</h2>
              </div>
              <div class="col-6 text-center">
                <img src="../../assets/images/Overdue.svg" class="img-fluid">
                <h6>Overdue</h6>
                <h2 class="text-danger">{{resSimDueAndOverDue?.responseData[0]?.overDue}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-2 shadow-sm">
          <div class="card-header">
            Complaints
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-6 border-end text-center">
                <img src="../../assets/images/Received.svg" class="img-fluid">
                <h6>Received</h6>
                <h2 class="text-success">{{resComplaintDetails?.responseData[0]?.received}}</h2>
              </div>
              <div class="col-6 text-center">
                <img src="../../assets/images/Pending.svg" class="img-fluid">
                <h6>Pending</h6>
                <h2 class="text-primary">{{resComplaintDetails?.responseData[0]?.pending}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>