<div class="dashboardOuter">
  <div class="container">
    <div class="dashboardHeader">
      <div class="row">
        <div class="col-md-12">
          <h3 class="mb-4">Dashboard</h3>
        </div>
      </div>
    </div>
    <div class="dashboardReportOuter">
      <div class="row">
        <div class="col-md-3">
          <div class="card rounded shadow mb-4" >
            <div class="card-body">
              <div class="media d-flex align-items-start">
                <div class="media-body">
                  <h2>22</h2>
                  <p>Alerts</p>
                  <h3>Speed more than set limit</h3>
                  <h4>Overspeed</h4>
                </div>
                <img src="../../assets/images/Overspeed.svg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card rounded shadow mb-4">
              <div class="card-body">
                <div class="media d-flex align-items-start">
                  <div class="media-body">
                    <h2>10</h2>
                    <p>Alerts</p>
                    <h3>Lorem ipsum Lorem ipsum </h3>
                    <h4>Fuel Drop</h4>
                  </div>
                  <img src="../../assets/images/Fuel%20Drop.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card rounded shadow mb-4" >
              <div class="card-body">
                <div class="media d-flex align-items-start">
                  <div class="media-body">
                    <h2>32</h2>
                    <p>Vehicles</p>
                    <h3>Required additional validity</h3>
                    <h4>Breakdown</h4>
                  </div>
                  <img src="../../assets/images/Breakdown.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card rounded shadow mb-4" >
              <div class="card-body">
                <div class="media d-flex align-items-start">
                  <div class="media-body">
                    <h2>00</h2>
                    <p>Alerts</p>
                    <h3>In/Out of prohibited Geo-fence</h3>
                    <h4>POl Alert</h4>
                  </div>
                  <img src="../../assets/images/POlAlert.svg">
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="dashboardChartOuter">
        <div class="row">
            <div class="col-md-5">
                <div class="card rounded shadow mb-4">
                    <div class="card-header">
                        Fleet Status
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <div class="dashboardChart">
                                    <img src="../../assets/images/chart.png" class="img-fluid mt-3">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="dashboardChartinfo">
                                    <p><span class="text-success font-weight-bold">85</span> Running </p>
                                    <p><span class="text-warning font-weight-bold">20</span> Idle </p>
                                    <p><span class="text-danger font-weight-bold">03</span> Stopped </p>
                                    <p class="mb-0"><span class="text-primary font-weight-bold">10</span> Offline </p>
                                </div>
                            </div>
                          </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card rounded shadow">
                        <div class="card-body">
                            <h2>10</h2>
                            <img src="../../assets/images/E-TPDetails.svg" class="img-fluid">
                            <p>Number of Transport Permit Generated</p>
                            <h5>E-TP Details <small>(active/ ongoing)</small></h5>
                            <table class="table table-borderless mb-0">
                                <thead class="table-light">
                                  <tr>
                                    <th scope="col">Sr.</th>
                                    <th scope="col">Invoice No</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td scope="row">01</td>
                                    <td>12830633</td>
                                  </tr>
                                  <tr>
                                    <td scope="row">02</td>
                                    <td>12830633</td>
                                  </tr>
                                  <tr>
                                    <td scope="row">03</td>
                                    <td>12830633</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card rounded shadow mb-4">
                        <div class="card-header">
                            SIM Renewal Reminder    
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 border-right text-center">
                                  <img src="../../assets/images/Due.svg" class="img-fluid">
                                  <h6>Due</h6>
                                  <h5>32</h5>
                                </div>
                                <div class="col-6 text-center">
                                  <img src="../../assets/images/Overdue.svg" class="img-fluid">
                                  <h6>Overdue</h6>
                                  <h5 class="text-danger">25</h5>
                                </div>
                              </div>
                        </div>
                      </div>
                      <div class="card rounded shadow mb-4">
                        <div class="card-header">
                            Complaints 
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 border-right text-center">
                                  <img src="../../assets/images/Received.svg" class="img-fluid">
                                  <h6>Received</h6>
                                  <h5 class="text-warning">32</h5>
                                </div>
                                <div class="col-6 text-center">
                                  <img src="../../assets/images/Pending.svg" class="img-fluid">
                                  <h6>Pending</h6>
                                  <h5 class="text-primary">25</h5>
                                </div>
                              </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
